* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #4160ea;
    color: #fff;
}

h2 {
    text-align: center;
    padding: 20px;
    color: #020000;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3569db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
